<div class="page-header">
  <h2>vacancy</h2>
  <p><%= @vacancy_ratio %>% of analyzed properties have no associated tax address.</p>
</div>





<div class="map" id="map"></div>

<script>
function initMap() {
  var mapDiv = document.getElementById('map');

  var map = new google.maps.Map(mapDiv, {
    center: {lat: 41.773627, lng: -87.596001},
    zoom: 15
  });

  <% @vacancies.each do |lot| %>

    var myLatLng = {lat: <%= lot.lat %>, lng: <%= lot.long %>};
    var info = 'PIN: <%= lot.pin %>';

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
      title: info,

    });


  <% end %>

}

</script>


<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
async defer></script>
<div>
  <p>Unregistered properties: <%= @vacancy_count %></p>
</div>
